<style>
  #images/dogvscat-logo.gif{position:static;} 
  #top-menu {position:absolute;top:0;left:0;padding:10px;width:24px;}
.menu {color:light-gray; width:12px:position:top:0;left:0;}
  .article {padding:10px;position:absolute;top:0;left:0;}
#images/llama2.png {float:right;} 
 #Lorem-Ipsum {position:absolute;top:0;right:0;padding:10px;width:24px;}
.By-Frank-Doe {color:light-gray; width:12px:position:top:0;left:0;}
.article {padding:10px;position:absolute;top:0;left:0;}
</style>

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



