

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


body{
	background-color: #cccccc;
	width:100%;
	margin:0 auto;}
	
	#site-header{
	width:100%;
	margin:0 auto;
	position:relative;}
	
	h1{
	position:relative;
	margin: 0 auto;
	font-size:3.0em;
	font-family:georgia;
	font-weight:bold;
	color:grey;
	padding-bottom:1%;
	padding-top:1%;
	padding-left:10%;}
	
	img.site-logo{
	position:relative;
	margin: 0 auto; 
	width:9%;
	height:8.5%;
	padding-bottom:1%;
	padding-top:1%;}
		
#top-menu{
	position:relative;
	margin: 0 auto;
	width:100%;
	height: auto;
	border-top:3px solid #f7eeaf;
	border-bottom:3px solid #f7eeaf;}
	
	#top-menu li { 
 	float:left;
 	padding-top:1%;
 	padding-left:10%;
 	padding-bottom:1%;}
  
  #top-menu li.last { border:0px; }
  
  #top-menu li a { 
  display:block;
 padding:10px 20px 0 10px;
    font-size:2.0em;
    color:grey;
    text-decoration:none;
    text-transform:uppercase;
  font-weight:bold;}
    
  #top-menu li a:hover { 
  background-color:#DDD;}
  	
  	#content{
	float:left;
  width:100%;
  	margin:0 auto;
  padding-top:2%;
  background-color:#ffffff;}
  
  img.africa-map{
	float:left; 
	width:350px;
	height:381px;
	padding:1% 1% 1% 1%;}
	
	.about-nigeria { 
 	float:left;
 	width:25%;
	color:#34ad65;
	padding:1% 1% 1% 1%;}
	
	.big-house-issue{
	float:left;
	width:30%;
	color:#8d300d;
	padding:1% 1% 1% 1%;}
	
	.end-result{
	float:left;
	width:100%;
	color:##cccccc;}
	
	.design-principles{
	float:left;
	width:30%;
	color:##cccccc;}
	
	.principle-notes {
	float:right;
	width:30%;
	color:#f7eeaf;}
	
	#3a6f8f
  	
	h2{
	float:left;
	font-size:2.0em;
	font-family:georgia;
	font-weight:bold;
	color:#474444;
	padding-bottom:1%;
	padding-top:1%;}
		
	p{
	font-size:1.5em;
	font-family:georgia;
	padding-top:1%;
	padding-bottom:1%;}
	
	
	#design-principles { 
 	float:left;
 	padding-left:1%;}
  
  #design-principles li.last { border:0px; }
  
  #design-principles li a { 
  display:block;
 padding:10px 20px 0 10px;
    font-size:24px;
    color:#f7eeaf;
    text-decoration:none;
    text-transform:uppercase;
  font-weight:bold;}
    
  #design-principles li a:hover { 
  background-color:#DDD;}
  
  img.dwg-2{
  float:left;
  width:20%;
  padding:1% 1% 1% 1%;}
  
 img.dwg-3{
  float:left;
  width:20%;
  padding:1% 1% 1% 1%;}
  
  img.dwg-4{
  float:left;
  width:20%;
  padding:1% 1% 1% 1%;}
  
  img.dwg-5{
  float:left;
  width:40%;
  padding:1% 1% 1% 1%;}
		
  #site-footer{
  width:100%;
  margin:0 auto;
  position:relative;
  padding-top:1%;
  background-color:#cccccc;
  color:grey;
  font-size:1.5em;
font-family:georgia;
clear:both;
 border-top:3px solid #CCC;}

#footer-credit{
 float:left;
 padding-right:60px;}

#footer-copyright{
float:right;
 padding-left:60px;}
 


